*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/*--------------------------------------------------
  HTML
--------------------------------------------------*/
html {
  min-width: 240px;
  color: #212121;
  font-family: "Roboto", sans-serif;
  /* font-size: 62.5%; */
  font-weight: normal;
  line-height: 1.6;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*--------------------------------------------------
  Site header
--------------------------------------------------*/

.site-header {
  background: #2478cc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 0;
}
@media (max-width: 768px) {
  .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.header-content p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .header-content p {
    font-size: 16px;
    text-align: center;
  }
}
.reg-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 576px) {
  .reg-btn-container {
    width: 100%;
  }
}
.reg-btn {
  background-color: #fff;
  border: none;
  border-radius: 12px;
  color: #464e5b;
  font-size: 9px;
  font-weight: normal;
  padding: 6px 10px;
  letter-spacing: 1.5px;
  margin-right: 15px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .reg-btn {
    margin-right: 0;
    font-size: 15px;
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 12px;
  }
}
@media (max-width: 576px) {
  .reg-btn {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 6px;
  }
}

@media (max-width: 530px) {
  .reg-btn {
    border-radius: 0;
  }
}

.site-header-menu {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: fixed;
  right: 0px;
  z-index: 10;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: -2px -1px 4px 0px rgb(3 3 3 / 7%);
  box-shadow: -2px -1px 4px 0px rgb(3 3 3 / 7%);
  /* box-shadow: 0 4px 4px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 20%); */
  border-radius: 10px 0 0 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.site-header-menu.active {
  right: 250.5px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 993px) {
  .site-header-menu {
    display: none;
  }
}

/*--------------------------------------------------
  Site-menu
--------------------------------------------------*/
.site-menu {
  position: relative;
  display: block;
  color: #fafafa;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}

.site-menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.site-menu-inner {
  position: relative;
  display: block;
  width: inherit;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
}

.site-menu-inner::after,
.site-menu-inner::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #333;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  border-radius: 2px;
}

.site-menu-text {
  margin: 4px 0 0;
}

.site-menu-inner::before {
  top: -8px;
}

.site-menu-inner::after {
  bottom: -8px;
}

.site-menu.js-active .site-menu-inner {
  background-color: rgba(0, 0, 0, 0);
}

.site-menu.js-active .site-menu-inner::before {
  top: 0;
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.site-menu.js-active .site-menu-inner::after {
  bottom: 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

/*--------------------------------------------------
  Container
--------------------------------------------------*/
.container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container .is-fluid {
  max-width: 100%;
}

@media (min-width: 320px) {
  .container {
    max-width: 350px;
  }
}

@media (min-width: 410px) {
  .container {
    max-width: 395px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/*--------------------------------------------------
  Site Navigations
--------------------------------------------------*/

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .site-navigation {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (max-width: 992px) {
  .site-navigation {
    margin-bottom: 30px;
  }
}

.site-branding-container {
  margin-right: 50px;
}
@media (max-width: 1200px) {
  .site-branding-container {
    margin-right: 0;
  }
}

.site-branding {
  font-family: "Poppins", sans-serif;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.07162px;
  color: #000;
}
.site-branding.mobile {
  display: none;
}

@media (max-width: 992px) {
  .site-branding {
    font-size: 25px;
    display: none;
  }
  .site-branding.mobile {
    display: block;
  }
}
/* @media (max-width: 406px) {
  .site-branding {
    font-size: 20px;
  }
} */

.site-branding::after {
  content: "+";
  font-family: inherit;
  color: #f4af32;
}
.site-branding::before {
  content: "";
  width: 115px;
  height: 3px;
  background-color: #f4af32;
  position: absolute;
  left: 0;
  bottom: 0;
}

/*--------------------------------------------------
  Search Bar
--------------------------------------------------*/
.search-container {
  position: relative;
}
.search-bar {
  width: 380px;
  padding: 8.5px 32px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 4px;
}

.search-bar:focus {
  outline: none !important;
}

.search-container::before {
  content: url(../assets/icons/search-icon.svg);
  position: absolute;
  height: 15px;
  width: 15px;
  left: 12px;
  bottom: 9px;
}

@media (max-width: 1200px) {
  .search-bar {
    width: 180px;
  }
}
@media (max-width: 992px) {
  .search-bar {
    width: 100%;
    background-color: #f4f4f4;
    padding: 12px 32px;
  }
  .search-container::before {
    bottom: 12px;
  }
}

/*--------------------------------------------------
  Nav Buttons
--------------------------------------------------*/
.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 992px) {
  .nav-menu {
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 9;
    background: #fff;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    -ms-flex-direction: column;

    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}

.nav-menu.js-menu-opened {
  right: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav-btns.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 992px) {
  .nav-btns:not(.icons) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .nav-btns {
    margin-left: 30px;
  }
  .nav-btns.icons {
    margin-left: 25px;
  }
}

.button {
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 10px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 992px) {
  .button {
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 0;
  }
}

.button.is-blue {
  margin-right: 22px;
  background: #fff;
  border: 1px solid #2478cc;
  color: #2478cc;
}
@media (max-width: 992px) {
  .button.is-blue {
    margin-right: 0;
    margin-bottom: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: none;
    border-right: none;
  }
}
.button.is-yellow {
  background: #ffc700;
  color: #000;
}
.icons img {
  display: block;
}
.icons li {
  list-style: none;
}

.icon-btn1 {
  margin-right: 27px;
}

/*--------------------------------------------------
  User profile nav
--------------------------------------------------*/

.user-profile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 35px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 992px) {
  .user-profile-nav {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.user-welcome {
  position: relative;
  font-size: 11.48px;
}

@media (max-width: 992px) {
  .user-welcome {
    font-size: 18px;
    margin: 13px 0 0;
  }
}
.user-welcome::after {
  content: url(../assets/icons/down-arrow-icon.svg);
  margin-left: 3px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .user-welcome::after {
    display: none;
  }
}
.user-profile-nav img {
  display: block;
}
@media (min-width: 992px) {
  .user-profile-nav img {
    margin-left: 6px;
  }
}
.user-dropdwn {
  color: #000;
  text-decoration: none;
}

/*--------------------------------------------------
  nav-lists / site-nav
--------------------------------------------------*/

.nav-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 25px;
}

.nav-lists li {
  list-style: none;
}

.nav-lists a {
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  position: relative;
}
@media (max-width: 1200px) {
  .nav-lists a {
    font-size: 15px;
  }
}
.nav-lists li:hover a {
  font-weight: 700;
}
.site-nav-type-2 {
  margin-bottom: 45px;
}

@media (max-width: 992px) {
  .site-nav-type-2-res {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav-type-2 {
    display: none;
  }
}

.nav-lists .has-arrow.active::after,
.nav-lists .has-arrow::after {
  content: url("../assets/icons/up-arrow.svg");
  margin-left: 4px;
}
.nav-lists .has-arrow::after {
  content: url("../assets/icons/down-arrow-icon2.svg");
}

.nav-lists .active,
.nav-lists-res .active {
  font-weight: 700;
}
li.list-act {
  border-bottom: 2px solid #000;
}

/*--------------------------------------------------
    site-nav-type2-res
--------------------------------------------------*/

.site-nav-type-2-res {
  display: none;
  margin: 20px 0;
  width: 100%;
}
.nav-lists-res li {
  list-style: none;
  padding: 5px 10px;
  border-bottom: 1px solid #e9e9e9;
}

.nav-lists-res a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  display: block;
  position: relative;
}

@media (max-width: 992px) {
  .site-nav-type-2-res {
    display: block;
  }
}

.nav-lists-res .has-arrow.active::after,
.nav-lists-res .has-arrow::after {
  content: url("../assets/icons/up-arrow.svg");
  position: absolute;
  right: 12px;
  bottom: 1px;
}
.nav-lists-res .has-arrow::after {
  content: url("../assets/icons/down-arrow-icon2.svg");
}

/*--------------------------------------------------
   MAIN SECTION
--------------------------------------------------*/

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 2px solid #ebebeb;
}
@media (max-width: 992px) {
  .main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/*--------------------------------------------------
   side-container / side-box
--------------------------------------------------*/

.side-box,
.side-box-extra {
  -webkit-box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  background: #fff;
  border-radius: 7px 7px 3px 3px;
  padding: 30px 27px;
  margin-bottom: 30px;
}
.side-box-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.custom-pad {
  padding: 26px 40px;
}
.side-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 27%;
  flex: 0 0 27%;
}
@media (max-width: 992px) {
  .side-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 30px;
  }
}
.side-title {
  font-family: "Inter", "sans-serif";
  font-size: 18px;
  font-weight: 700;
  color: #014eff;
  position: relative;
  margin-bottom: 15px;
}

.side-title::after {
  content: url(../assets/icons/side-down-arrow.svg);
  position: absolute;
  right: 30px;
}

/*--------------------------------------------------
   SIDE BOX TYPE 2
--------------------------------------------------*/

.side-title-type2 {
  position: relative;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 6px;
}

.side-title-type2 span {
  color: #ffc700;
}
.side-title-type2::before {
  content: "";
  background: #ffc700;
  width: 40%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.side-box-type2-sub {
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
  font-size: 18px;
  color: #4b4b4b;
  letter-spacing: 0.25px;
  margin: 18px 0;
}

.side-box-type2-list {
  margin-bottom: 18px;
}
.side-box-type2-list li {
  list-style: none;
  font-size: 12px;
  color: #5b5b5b;
}

@media (max-width: 768px) {
  .side-box-type2-list li {
    font-size: 14px;
  }
}
.side-box-type2-list li:not(:last-of-type) {
  margin-bottom: 17px;
}
.side-box-type2-list li::before {
  content: url(../assets/icons/check.svg);
  vertical-align: top;
  margin-right: 8px;
}

.comm-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  padding: 12px 53px;
  color: #fff;
  letter-spacing: 0.14px;
  border: none;
  border-radius: 4px;
  background: #1285ff;
  cursor: pointer;
}

.comm-btn.download {
  font-size: 12px;
  padding: 4px 22px;
}

@media (min-width: 768px) {
  .comm-btn.sign-up {
    padding: 11px 40.5px;
  }
}

.comm-btn.download::before {
  content: url(../assets/icons/download-icon.svg);
  vertical-align: middle;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .comm-btn.download {
    font-size: 16px;
    padding: 14px 60px;
  }
}

@media (max-width: 576px) {
  .comm-btn.download {
    width: 100%;
  }
}

.apply-btn-details {
  font-size: 12px;
  color: #702626;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 992px) {
  .apply-btn-details {
    text-align: left;
  }
}

.box-title {
  border-bottom: 2px solid #ffc700;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  font-family: "Poppins";
  margin-bottom: 10px;
}

/*--------------------------------------------------
   PROGRESS BAR
--------------------------------------------------*/
.progress-bar-container {
  margin-bottom: 15px;
}
.progress-bar {
  width: 100%;
  padding: 5px 0;
  background: #eff6fa;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
}
.progress-bar::before {
  content: "";
  background: #0c9c00;
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.progress-detail {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #595e67;
  text-align: center;
}
/*--------------------------------------------------
    PROGRAM LIST
--------------------------------------------------*/

.program-list li {
  list-style: none;
}
.program-list li:not(:last-of-type) {
  margin-bottom: 15px;
}

.program-list a {
  font-size: 14px;
  font-weight: 400;
  color: #464e5b;
  text-decoration: none;
}

.program-list .selected {
  color: #2478cc;
  font-weight: 700;
}
.program-list a::before,
.program-list .selected::before {
  content: url(../assets/icons/right-arrow.svg);
  margin-right: 14px;
}
.program-list .selected::before {
  content: url(../assets/icons/ellipse-blue.svg);
}

/*--------------------------------------------------
   SIDE PROFILE IMAGE
--------------------------------------------------*/

.side-img-container {
  position: relative;
  margin-bottom: 11px;
}
.side-img-container::after {
  content: url(../assets/icons/chat-bubble.svg);
  position: absolute;
  right: 0;
  bottom: 0;
}
.side-img-container img {
  border-radius: 100%;
}

.indicator {
  font-weight: 500;
  font-size: 7.5px;
  color: #000;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .indicator {
    font-size: 10px;
  }
}

.indicator::before {
  content: url(../assets/icons/ellipse-green.svg);
  vertical-align: middle;
  margin-right: 4px;
}

/*--------------------------------------------------
   SIDE PROFILE NAME
--------------------------------------------------*/

.profile-name {
  font-family: "Inter", "sans-serif";
  font-size: 15.5px;
  font-weight: 900;
  color: #0f131a;
}

.profile-subname {
  text-align: center;
  font-family: Arial;
  color: #595e67;
  font-size: 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .profile-name {
    font-size: 20.5px;
  }

  .profile-subname {
    font-size: 14px;
  }
}

/*--------------------------------------------------
   CHAT BUTTON
--------------------------------------------------*/
.chat-btn-container {
  margin-bottom: 10px;
}
.chat-button,
.btn-no-icon {
  font-weight: 900;
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  padding: 12.2px 37px;
  background: #49a55d;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-no-icon {
  padding: 13.5px 58px;
  font-family: "Roboto", "sans-serif";
  font-weight: 700;
  letter-spacing: 0.14px;
}

@media (max-width: 576px) {
  .btn-no-icon {
    width: 100%;
    font-size: 16px;
    padding: 20px 58px;
  }
}

.chat-button::before {
  content: url(../assets/icons/chat-bubble-no-bg.svg);
  vertical-align: middle;
  margin-right: 6px;
}

.tel-number {
  font-size: 11px;
}

.tel-number span {
  color: #014eff;
  font-weight: bold;
}

/*--------------------------------------------------
    MAIN FEED
--------------------------------------------------*/

.main-feed {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
}
@media (max-width: 992px) {
  .main-feed {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

.feed-header {
  color: #0f131a;
  font-weight: 500;
  font-size: 24px;
  font-family: "Poppins";
  margin-bottom: 14px;
}
.video {
  border-radius: 5.5px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.video-title {
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 700;
  color: #2478cc;
}
@media (max-width: 576px) {
  .video-title {
    font-size: 22px;
    margin-bottom: 15px;
  }
}
.video-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .video-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 24px;
  }
}

.download-btn {
  font-size: 12px;
  color: #1285ff;
  font-weight: 700;
  text-decoration: none;
  padding: 9px 38px;
  border: 1px solid #1285ff;
  border-radius: 4px;
  display: block;
  background: #fff;
  cursor: pointer;
  margin-bottom: 8px;
  font-family: "Roboto";
}

@media (max-width: 576px) {
  .download-btn {
    width: 100%;
    padding: 15px 0;
    font-size: 14px;
    background: #1285ff;
    color: #fff;
  }
}

.video-views,
.download-btn-details {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  color: #606060;
}
.video-views {
  letter-spacing: 0.6px;
}
@media (max-width: 576px) {
  .video-views {
    font-size: 15px;
  }
}
.download-btn-details {
  text-align: center;
  font-size: 8px;
}

/*--------------------------------------------------
    CONTENT-SECTION
--------------------------------------------------*/

.content-section:not(:last-of-type) {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------
    CALL SECTION
--------------------------------------------------*/
.call-section {
  margin-top: 12px;
}

.call-details-container {
  display: block;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .call-details-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 18px;
  }
}

@media (max-width: 768px) {
  .call-name-container {
    margin-bottom: 24px;
  }
}

.call-name {
  font-family: "Roboto";
  font-size: 14px;
  letter-spacing: 0.25px;
  position: relative;
  padding-right: 17px;
  display: inline-block;
  color: #030303;
  font-weight: 400;
}
@media (max-width: 768px) {
  .call-name {
    font-size: 18px;
  }
}
.call-sub {
  color: #606060;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 0.5;
}

.call-name::after {
  content: url(../assets/icons/black-check.svg);
  position: absolute;
  bottom: -1px;
  right: 0;
}

.call-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.call-details p {
  font-size: 12px;
  letter-spacing: 0.25px;
  color: #030303;
}
.call-details p:not(:last-of-type) {
  margin-right: 15px;
}
.call-details span {
  font-weight: 700;
}

/*--------------------------------------------------
    CALL CONTENT
--------------------------------------------------*/

.call-content-cont {
  margin-bottom: 24px;
}
.call-content {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #393939;
  margin-bottom: 8px;
}

@media (max-width: 576px) {
  .call-content {
    font-size: 16px;
  }
}

.show-more {
  font-family: "Roboto", "sans-serif";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.007px;
  text-align: left;
  color: #1285ff;
  text-decoration: none;
}
@media (max-width: 576px) {
  .show-more {
    font-size: 14px;
  }
}

.link-cont {
  margin-bottom: 23px;
}

.sign-up {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.14px;
}
@media (max-width: 576px) {
  .sign-up {
    margin-bottom: 20px;
    width: 100%;
    padding: 16px 0;
  }
}

.next-call-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 576px) {
  .next-call-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.next-lesson {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.06px;
  cursor: pointer;
}
.next-lesson::after {
  content: url("../assets/icons/next-arrow.svg");
  vertical-align: text-top;
  margin-left: 12px;
}

/*--------------------------------------------------
   COMMENT SECTION
--------------------------------------------------*/

.comment-section {
  margin-top: 18px;
}
.count-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.comment-container {
  margin-bottom: 28px;
}
.comment-count {
  color: #030303;
  letter-spacing: 0.1px;
  font-size: 15px;
  margin-right: 35px;
}

.comment-count span {
  font-size: 16px;
}
.sort-by {
  color: #606060;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.sort-by:before {
  content: url(../assets/icons/sort-icon.svg);
  margin-right: 11px;
  cursor: pointer;
}

.comment-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 37px;
  align-items: center;
}

.user-link {
  margin-right: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-link.block {
  display: block;
}

.block img {
  cursor: pointer;
}

.comment-input {
  border: none;
  border-bottom: 1px solid #0000001a;
  width: 100%;
  padding: 5px 0;
}

.comment-input:focus {
  outline: none !important;
}

.comment-input::-webkit-input-placeholder {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.comment-input::-moz-placeholder {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.comment-input:-ms-input-placeholder {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.comment-input::-ms-input-placeholder {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.comment-input::placeholder {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-name {
  color: #030303;
  font-size: 13px;
}
.time {
  font-size: 12px;
  color: #606060;
  margin-left: 4px;
}
.comment-body {
  font-size: 13px;
  margin-bottom: 11px;
  font-weight: normal;
}

/*--------------------------------------------------
    COMMENT LIKES
--------------------------------------------------*/

.likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.like-count,
.reply {
  color: #606060;
  font-size: 12px;
  cursor: pointer;
}

.like-count {
  margin-right: 17px;
}

.reply {
  font-size: 12px;
}

.like-icon,
.dislike-icon {
  margin-right: 9px;
  cursor: pointer;
}

.dislike-icon {
  margin-right: 24px;
}

.dislike-icon img {
  vertical-align: middle;
}

/*--------------------------------------------------
    COMMENT REPLIES
--------------------------------------------------*/

.view-more {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #065fd4;
  padding-left: 20px;
  position: relative;
}

.view-more::before {
  content: url(../assets/icons/comment-down-arw.svg);
  position: absolute;
  left: 0;
  bottom: 0;
}

/*--------------------------------------------------
   download-section
--------------------------------------------------*/

.download-section {
  margin-top: 16px;
}

.download-section-title {
  font-family: "Poppins", "sans-serif";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.25px;
  color: #0f131a;
}

.download-sub {
  font-size: 18px;
  color: #595e67;
  margin-bottom: 16px;
}

.download-list {
  padding: 16px 28px;
  -webkit-box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  background: #fff;
  border-radius: 4px;
}

.download-list li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  .download-list li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 410px) {
  .download-list li {
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
  }
}

.download-list li p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.19px;
  color: #0f131a;
  position: relative;
  margin-left: 35px;
}
@media (max-width: 768px) {
  .download-list li p {
    margin-bottom: 25px;
  }
}
@media (max-width: 410px) {
  .download-list li p {
    font-size: 17px;
  }
}

.download-list li:not(:last-of-type) {
  padding-bottom: 16px;
  border-bottom: 1px solid #e0dfdf;
}

.download-list li:not(:first-of-type) {
  padding-top: 16px;
}
.file:before,
.file-table::before,
.file-archive::before {
  content: url(../assets/icons/file.svg);
  position: absolute;
  left: -35px;
  bottom: -10px;
}
@media (max-width: 410px) {
  .file:before,
  .file-table::before,
  .file-archive::before {
    bottom: 2px;
  }
}
.file-table::before {
  content: url(../assets/icons/file-table.svg);
}
.file-archive::before {
  content: url(../assets/icons/file-archive.svg);
}
.download-list li p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #0f131a;
}

/*--------------------------------------------------
  apply-section
--------------------------------------------------*/

.apply-section {
  padding: 32px 77px;
  border-radius: 8px;
  border: 1px solid #49a55d;
  margin-top: 90px;
}
@media (max-width: 576px) {
  .apply-section {
    padding: 25px;
    margin-top: 50px;
  }
}

.apply-section-title,
.apply-section-sub {
  font-family: "Poppins", "sans-serif";
  font-size: 24px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.9px;
  text-align: center;
}

.apply-section-sub {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

@media (max-width: 576px) {
  .apply-section-sub {
    margin-bottom: 14px;
  }
}

.apply-section p {
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 17px;
  font-weight: 400;
}

.btn-container {
  text-align: center;
}

/*--------------------------------------------------
  FOOTER
--------------------------------------------------*/

.site-footer {
  padding-top: 10px;
}

.footer-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 70px;
}

@media (max-width: 768px) {
  .footer-list-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .footer-list-container {
    padding-bottom: 35px;
  }
}

@media (max-width: 410px) {
  .footer-list-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer-list {
    margin: 0 20px;
    padding: 10px 0;
  }
}

@media (max-width: 410px) {
  .footer-list:not(:last-of-type) {
    border-bottom: 1px solid #efefef;
  }
}

.footer-list li {
  list-style: none;
}

.footer-list a {
  font-size: 13px;
  text-decoration: none;
  color: #595e67;
}

.footer-list-title {
  color: #1285ff !important;
  font-weight: 700;
  letter-spacing: 0.35px;
  font-size: 14px !important;
}
@media (max-width: 768px) {
  .footer-list a {
    font-size: 16px;
  }

  .footer-list-title {
    font-size: 18px !important;
  }
}

.custom {
  background-color: #ffc700;
  color: #000 !important;
  border-radius: 4px;
  padding: 0 2px;
}

.column-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3333333%;
  flex: 0 0 33.3333333%;
}

/*--------------------------------------------------
  Social Media
--------------------------------------------------*/

.social-media {
  border-top: 2px solid #ebebeb;
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .social-media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.footer-branding-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
@media (max-width: 800px) {
  .footer-branding-container {
    margin-bottom: 10px;
  }
}

.footer-branding {
  font-family: "Poppins", "sans-serif";
  font-size: 21px;
  letter-spacing: 3px;
  color: #000;
  position: relative;
  display: block;
}

.footer-branding:after {
  content: "";
  background-color: #ffc700;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 19%;
}

@media (max-width: 768px) {
  .footer-branding:after {
    width: 43%;
  }
}
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.social-icons li {
  list-style: none;
}

.social-icons li:not(:last-of-type) {
  margin-right: 20px;
}
@media (max-width: 410px) {
  .social-icons li:not(:last-of-type) {
    margin-right: 5px;
  }
}
.social-icons a {
  text-decoration: none;
  font-size: 13px;
  color: #595e67;
  vertical-align: middle;
}
